<script type="text/javascript" src="js/controllers/createGame.js"></script>
<script>
createGameController.init();
</script>
<div id="createGameScreen" class="container-fluid">
	<div class="row">
		<div id="createGameFrame" class="col-xs-12 col-sm-7 col-md-4 col-lg-4 frameBox">
			<h4>Kreiranje utakmice</h4>
			<hr>
			<div class="form-group">
				<label>Vrsta utakmice:</label>
				<div>
					<input type="text" id="vrstaUtakmice" name="gameType" data-required  class="form-control"/>
				</div>
				<p class='comments'>Nogomet, Rukomet, Tenis itd...</p>
			</div>
			<div class="form-group">
				<label>Lokacija:</label>
				<div>
					<input type="text" id="lokacija" data-required name="lokacija" class="form-control"/>
				</div>
				<p class='comments'>Upišite teren gdje se igra... npr. tts, graberje...</p>
			</div>			
			<div class="control-group">
				<label>Datum igranja:</label><br>				
				<select class="form-control" id="danGame"  style="width:70px;float:left;"></select><span style="float:left;">.</span>
				<select class="form-control" id="mjesecGame" style="width:70px;float:left;"></select><span style="float:left;">.</span>
				<select class="form-control" id="godinaGame" style="width:90px;"></select>								
			</div>
			<br>							
			<div class="form-group">
				<label>Vrijeme igranja:</label><br>				
				<select class="form-control" id="satGame"  style="width:70px;float:left;"></select><span style="float:left;">.</span>
				<select class="form-control" id="minGame" style="width:70px;float:left;"></select><span>.</span>										
			</div>
			<br>
			<div class="checkbox">
			    <label>
			      <input id="obracunTroskova" type="checkbox"> Obračun troškova
			    </label>
			    <p class='comments'>U slučaju da želite voditi evidenciju dugova.</p>
			</div>
			<div id="placanjeDiv" style="display:none;">
			<div class="form-group">
				<label>Blagajnik:</label>
				<div>
					<input type="text" id="blagajnik" data-provide="typeahead" autocomplete="off" class="form-control"/>
					<input type="text" id="blagajnikId" style="display:none;"/>
				</div>
				<p class='comments'>Odaberite onog kome ćete dati novce nakon igre...
				Ako ne odaberete nikog smatra se da je teren besplatan. Nije obavezno polje.</p>
			</div>
			<div class="form-group" id="cijenaTerenaDiv" style="display:none;">
				<label>Cijena terena</label>
				<div>
					<input type="text" id="cijenaTerena" data-valueType="currency" name="cijena" onchange="validateCurencyInput(this);" class="form-control"/>
				</div>
				<p class='comments'>Iznos troška najma terena koji će se dijeliti na prijavljene igrače.</p>
			</div>	
			</div>	
			<div class="checkbox">
			    <label>
			      <input id="prikaziLozinku" type="checkbox"> Privatna utakmica
			    </label>
			    <p class='comments'>U slučaju da želite utakmicu zaštititi lozinkom. 
			    Upisanu lozinku je potrebno proslijediti svim igračima koji se žele prijaviti u utkmicu.</p>
			</div>
			<div id="lozinka" class="form-group" style="display:none;">
				<label>Pristupna lozinka:</label>
				<div>
					<input type="text" id="sifra" class="form-control"/>
				</div>
			</div>					
			<br>
			<div class="form-group">
				<button id="btnKreirajUtakmicu" class="btn btn-success">Kreiraj utakmicu</button>
			</div>
		</div>	
	</div>
</div>