<div class="row">
    <div class="col-lg-10 col-md-10 col-xs-10"> 
        <div class="row">
            <div class="col-lg-12">
                    <div class="col-lg-8 col-md-8 col-xs-12 frameBox">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle">                                    
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12">
                            <h3 style="margin-top:0px;"><a href="mailto:sasa.vuksic@gmail.com">sasa.vuksic@gmail.com</a></h3>
                            <p>
                                Razvijatelj i odgovorna osoba: Saša Vukšić<br>
                                Hrvatska, 42000 Varaždin<br>
                                mob. : 091/791-7299<br>
                                Za sve dodatne informacije ili suradnju molim da se obratite na gore navedeni e-mail ili broj telefona.                                    
                            </p>
                            <br>
                            <p>
                            	Ikona za android aplikaciju preuzeta sa: <a href="http://icons8.com/license/">http://icons8.com/license/"</a>
                            </p>
                        </div>
                    </div>
            </div>           
        </div>
    </div>          
</div>    
