<script type="text/javascript" src="js/controllers/login.js"></script>
<script>
	loginController.init();	
	
	function OnLoadCallback() {		  
	}
</script>
	<div class="row">		
		<div id="loginFrame" class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
			<div class="frameBox">
				<h4>Prijava</h4>
				<hr>
				<div class="form-group">
						<input type="text" id="ussername" name="username" placeholder="Upišite korisničko ime ili e-mail" class="form-control"/>
				</div>
				<div class="form-group">
						<input type="password" id="password" name="password" placeholder="Upišite lozinku" class="form-control"/>
				</div>
				<div class="form-inline">
					<div class="checkbox">
					    <label>
					      <input id="zapamtiMe" type="checkbox"> Ostani prijavljen
					    </label>
					</div>
					<a id="mailLink" class="pull-right standardApplicationLink">Zaboravili ste lozinku?</a>
				</div>
				<div class="form-group">				
					<button id="btnPrijava" class="btn btn-success btnLogin">Prijavi se</button>																										
				</div>
				<div class="hrOrContainer">
					<hr>
					<span class="spanOr">ili</span>
				</div>
				<div class="form-group">				
					<button id="btnGoogleLogin" class="btn btn-danger btnGoogleLogin">Google</button>																										
				</div>													
			</div>		
		</div>		
		<div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>	
		<div id="registrationFrame" class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
			<div class="frameBox">
			<h4>Registracija</h4>
			<hr>
			<p>Za početak se registrirajte...</p>
			<div class="form-group">
				<div>
					<input type="text" id="ime" data-required placeholder="Upišite ime" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<div>
					<input type="text" id="prezime" data-required placeholder="Upišite prezime" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<div>
					<input type="text" id="usernameReg" data-required placeholder="Upišite e-mail" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<div>
					<input type="password" id="passwordReg" data-required  placeholder="Upišite lozinku" class="form-control"/>
				</div>
			</div>			
			<div class="form-group">
					<button id="btnRegistracija" type="button" class="btn btn-success">Registriraj se</button>
			</div>
		</div>	
		</div>	
	</div>
<div id="mailModal" class="modal fade">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Saznajte svoje podatke</h4>
	      </div>
	      <div class="modal-body">
	        <p>Upišite mail s kojim ste se prijavili na tkoigra.com kako bismo vam mogli poslati vašu lozinku.</p>
	        <div class="form-group">
	        	<span class="glyphicon glyphicon-envelope"></span>
				<label>E-mail adresa:</label>
				<div>					
					<input type="text" id="email" class="form-control"/>
				</div>
			</div>
	      </div>
	      <div class="modal-footer modal-footer-uplata text-center">
	        <button type="button" id="btnSendMail" class="btn btn-success button-uplata-dialog" data-dismiss="modal">Pošalji</button>
	      </div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>	