<script type="text/javascript" src="js/controllers/myGames.js"></script>
<script>
	myGamesController.init();
</script>
<div class="row">	
	<div class="main col-xs-12 col-sm-12 col-md-11 col-lg-11">
		<div class="row">				
			<ul class="cbp_tmtimeline gamesList">									
			</ul>
		</div>
	</div>
	<div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
</div>
<div id="sifraModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Pristupna lozinka</h4>
      </div>
      <div class="modal-body">
        <p>Kako bi pristupili utakmici upišite lozinku koju ste dobili od organizatora.</p>
        <input type="text" id="sifra" class="form-control"/>
      </div>
      <div class="modal-footer text-center">
        <button type="button" id="sifraBtn" class="btn btn-success" data-dismiss="modal">Nastavi</button>
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<div id="gameLinkModal" class="modal fade">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title"><b>Link na utakmicu</b></h4>
	      </div>
	      <div class="modal-body">
	        <p>Kako bi prijatelje pozvali u utakmicu pošaljite im sljedeći link: </p>
	        <b><div id="linkToGame"></div></b>
	      </div>
	      <div class="modal-footer modal-footer-uplata text-center">
	        <button type="button" id="btnDontAndroid" class="btn btn-success button-uplata-dialog" data-dismiss="modal">U redu</button>
	      </div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>