<script type="text/javascript" src="js/controllers/myProfile.js"></script>
<script>
myProfileController.init();
</script>
<br>
<div class="row">
	<div id="mergeDiv" class="alert alert-info">Ako imate postojeći račun na tkoigra.com možete ga povezati sa Google računom. <a id="mergeLink" class="standardApplicationLink">Poveži</a>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
	<div id="mojiPodaciTab" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">		
		<div class="frameBox">
			<h4>Ažuriranje osobnih podataka</h4>
			<hr>
			<div class="form-group">
				<label>Ime:</label>
				<div>
					<input type="text" id="ime" class="form-control"/>
					<input type="text" id="idUser" style="display:none;"/>
				</div>
			</div>
			<div class="form-group">
				<label>Prezime:</label>
				<div>
					<input type="text" id="prezime" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label>Korisničko ime ili e-mail:</label>
				<div>
					<input type="text" id="ussername" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label>Lozinka:</label>
				<div>
					<input type="text" id="password" class="form-control"/>
				</div>
			</div>
			<div class="checkbox">
			    <label>
			      <input id="sendMail" type="checkbox"> Mail info
			    </label>
			    <p class='comments'>U slučaju da želite da vas se na mail obavještava o tome da se netko pridružio utakmici i odustao od utakmice.</p>
			</div>
			<div id="avatar" class="form-group">
				<input type="file" id="inputAvatar" style="display:none;"/>
				<label>Fotografija profila:</label>
				<div class="input-group">
			      <input id="avatarName" type="text" class="form-control">
			      <span class="input-group-btn">
			        <button id="btnOpenFolder" class="btn btn-default" type="button">
			        	<span class="glyphicon glyphicon-folder-open"></span>
			        </button>			        
			      </span>			      			      			     
			    </div>			    
			    <p class='comments'>Odaberite fotografiju za koju želite da se prikazuje uz vaš naziv unutar utakmice. (Nije obavezno)</p>
			    <div id="imgPre" class="form-inline">
			    	<img id="profilePicture" alt='User Pic' src='img/plainUser.png' class='img-circle userPicture'>
			    	<button id="btnDeleteAvatar" class="btn btn-danger" title="Ukloni fotografiju" type="button">
			        	<span class="glyphicon glyphicon-remove"></span>
			        </button>
			    </div>				
			</div>
			<div class="form-group">
				<button id="btnEditOsobniPodaci" class="btn btn-success">Ažuriraj podatke</button>				
			</div>
		</div>
	</div>
	<div id="tkoMiJeDuzanTab" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<p>Popis igrača koji su meni ostali dužni kada sam ja bio blagajnik, isto tako popis
		igrača koji kod mene kao blagajnika imaju preostali novac.</p>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th class="hidden-xs">RB</th>
					<th>Igrač</th>					
					<th>Iznos (<span id="saldoDuznika"></span>Kn)</th>
					<th class="hidden-xs">Iznos uplate</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="duzniciBody">
			</tbody>
		</table>
	</div>
	<div id="komeSamJaDuzanTab" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<p>Popis blagajnika kojima sam ja kao igrač ostao dužan. 
		Isto tako popis blagajnika kod kojih imam određeni novac.</p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="hidden-xs">RB</th>
					<th>Blagajnik</th>
					<th>Iznos (<span id="saldoKomeSamDuzan"></span>Kn)</th>
				</tr>
			</thead>
			<tbody id="komeSamDuzanBody">
			</tbody>
		</table>
	</div>
	
<div id="uplataModal" class="modal fade">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Uplata</h4>
	      </div>
	      <div class="modal-body text-center">
	        <p>Za korisnika <b><span id="korisnikUplataModal"></span></b> uplatite unešeni iznos.</p>
	        <div id="uplataFieldModal" class="text-center modalFieldDiv"></div>
	      </div>
	      <div class="modal-footer modal-footer-uplata text-center">
	        <button type="button" id="btnUplataDialog" class="btn btn-success button-uplata-dialog" data-dismiss="modal">Uplati</button>
	      </div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<div id="mergeModal" class="modal fade">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Spoji račune</h4>
	      </div>
	      <div class="modal-body">
	        <p>Upišite korisničko ime i lozinku iz tkoigra.com kako bi ih povezali s Google računom s kojimi ste trenutno prijavljeni.</p>
	        <div class="form-group">
				<label>Korisničko ime:</label>
				<div>
					<input type="text" id="mergeUssername" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label>Lozinka:</label>
				<div>
					<input type="password" id="mergePassword" class="form-control"/>
				</div>
			</div>
	      </div>
	      <div class="modal-footer modal-footer-uplata text-center">
	        <button type="button" id="btnMerge" class="btn btn-success button-uplata-dialog" data-dismiss="modal">Poveži</button>
	      </div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
</div>