@CHARSET "UTF-8";

.standardNogometHr{
	margin-top:5px;
	margin-bottom:5px;
}

.standardApplicationLink{
	cursor:pointer;
}

.userFrame{
	border-left: 1px solid #d4d4d4;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}

.userData{
	padding-left: 0px;
}

.userMainFrame{
	margin-bottom: 15px;
}

.userPicture{
	max-width: 60px;
	max-height: 60px;
}

.userHeader{
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 10px;
}

.userHeaderText{
	margin-top: 5px;
}

.applicationTitle{
	margin-bottom: 0px;
}

.mainHr{
	margin-top: 10px;
	margin-bottom: 10px;
}

.frameBox h4{
	margin:0px;
}

.frameBox hr{
	margin-top:15px;
}

.mainMenu{
	margin-top:15px;	
}

.redniBrojIgraca{
	font-size: 18px;
}

.imePrezimeUtakmica{
	font-size: 16px;
}

.label {
	font-size: 100%;
}

.uplateInput{
	max-width: 120px;	
}

.uplateTd{
	vertical-align: middle !important;
}

.nogometInvisible{
	display: none;
}

.gamesList{
	margin-left: 2px;
	margin-right: 3px;
}

.headerIndex{
	background-color: white;
}
.filter{
	margin-bottom: 5px;
}

.inputUplata{
    	width: 80px !important;
}

.allertNogomet{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 25px;
}

.spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.7em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
	font-size: 1.5em;
	color: #aaa;
}

.hrOrContainer{
	position: relative;
}

/* 	 Ovaj padding stavljen zbog fiskno pozicioniranog navbara na mobitelima */
body { 
	 padding-top: 115px; 
}
@media (max-width: 640px) {
	/* 	 Ovaj padding stavljen zbog fiskno pozicioniranog navbara na mobitelima */
	body { 
		 padding-top: 80px; 
	}
	.filter{
		padding-top: 60px;
		margin-bottom: 5px;
	}
    .pull-right {
        float: none !important;
    }
    .btn{
    	padding-left: 5px;
    	padding-right: 5px;
    	font-size: 12px;    	
    }
    .btn-success{
    	width: 100%;
    }
    .btnUplata{
    	font-size: 14px !important;
    	padding-left: 10px !important;
    	padding-right: 10px !important;
    }
    .inputUplata{
    	width: 100% !important;
    }
    .nav > li > a{
    	padding-left: 5px;
    	padding-right: 5px;
    }
    .userPicture{
		max-width: 40px;
	}
	h3, .h3 {
    	font-size: 18px;
	}
	h4, .h4 {
    	font-size: 16px;
	}
	.sweet-alert .icon.warning .body{
		height: 30px;
	}
	sweet-alert .icon.warning .dot{
		bottom: 25px
	}
	.sweet-alert .icon{
		width: 65px;
		height: 65px;
	}
	.sweet-alert h2{
		font-size: 18px;
	}
	.sweet-alert p{
		font-size: 14px;
	}
	.sweet-alert button{
		margin-top: 10px;
	}
	.sweet-alert .icon{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.sweet-alert{
		margin-top: -250px !important;
	}
	.uplateTd{
		vertical-align: middle !important;
		padding-left: 1px;
		padding-right: 1px;
	}
	.modal-footer-uplata{
		text-align: center !important;		
	}
	.button-uplata-dialog{
		width : 150px;
	}
	.modalFieldDiv{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 40%;
	}
	.uplateInput{
		max-width: 150px;	
	}
	.loginAlert{
		position:fixed;
		z-index:2001; 
		top:25px;
		width:100%;
	}
}

.box{
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 15px;
	margin-bottom: 15px;
	background-color: #f5f5f5;
}

.frameBox{
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 15px;
	margin-bottom: 15px;
}
/* ussing for comments */
.comments{
	color: #666666; 
	font-size: 11px;
	margin-bottom:0px;
}

/* for text fields with coments */
.withComments{
	margin-bottom: 0px !important;
}

.hidde{
	display: none !important;
}



.list-group-item {
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.list-group-item-active{
	background-color: #428bca;
	color: #fff !important;
}

.list-group-item:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.list-group-item:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.nestedRow{
	-moz-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    background-color:#F5F5F5;
}

.nestedRowFirstColl{
	-moz-box-shadow: 4px 4px 2px -3px rgba(0, 0, 0, 0.5) inset !important;
    -webkit-box-shadow: 4px 4px 2px -3px rgba(0, 0, 0, 0.5) inset !important;
    box-shadow: 4px 4px 2px -3px rgba(0, 0, 0, 0.5) inset !important;
    background-color:#F5F5F5 !important;
}

@media (min-width: 1200px) {
	.headerPadding{
		padding-left:7%;
		padding-right:7%;
	}
	
	.headerWidth{
		width:86%;
	}
	
	.tableHeader{
		font-size:100%;
	}
}

@media (max-width: 1200px) {
	.headerPadding{
		padding-left:1%;
		padding-right:1%;
	}
	
	.headerWidth{
		width:98%;
	}
	
	.tableHeader{
		font-size:11px;
	}
}

.btnLogin{
	width:100%;
}

.btnGoogleLogin{
	width:100%;
	background: #c32f10;
}

.linkIcon{
	margin-top: 10px;
}